@media (min-width: 0px) and (max-width: 755px) {
  .mainboard_container {
    max-width: 504px;
    column-count: 2;
  }
}

@media (min-width: 756px) and (max-width: 1007px) {
  .mainboard_container {
    max-width: 756px;
    column-count: 3;
  }
}
@media (min-width: 1008px) and (max-width: 1259px) {
  .mainboard_container {
    max-width: 1008px;
    column-count: 4;
  }
}
@media (min-width: 1260px) and (max-width: 1511px) {
  .mainboard_container {
    max-width: 1260px;
    column-count: 5;
  }
}
